.gameStarter {
  width: 450px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #bffff4;
}

.gameStarter form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameStarter .addPlayer {
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
  height: 30px;
  background-color: #2e6a9e;
}

.gameStarter .addPlayer:hover {
  background-color: #1f4a70;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  background-color: gray;
}

.gameStarter .startGamebtn {
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #4caf50;
  margin-top: 60px;
}

.gameStarter .startGamebtn:hover {
  background-color: #3e8e41;
}
